<table class="checkins" border="1">
  <thead class="column-headers">
    <tr>
      <td> Date </td>
      <td> Sleep </td>
      <td> Nutrition </td>
      <td> Exercise </td>
      <td> Meditation </td>
      <td> Love </td>
      <td> Stuff </td>
      <td> Work </td>
      <td> Passion </td>
      <td> Growth </td>
      <td> Service </td>
    </tr>
  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= format_time(checkin[:created_at])  %></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:sleep].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:nutrition].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:exercise].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:meditation].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:love].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:stuff].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:work].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:passion].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:growth].to_f / 100 %>"></td>
        <td bgcolor="purple" style="opacity:<%= checkin[:service].to_f / 100 %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>